<h2>Registro usuarios</h2>
<hr>
<form action="">
    <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre">
    <input type="mail" id="email" name="email" placeholder="Ingrese su correo">
    <input type="password" id="password" name="password" placeholder="Ingrese la contraseña">
    <input type="submit" id="btnSubmit" value="Registrar">
    <br>
    <div id="mensajes"></div>
</form>

<script src="/js/registro.js"></script>