<ul style="display: flex; list-style: none; padding: 0; margin: 0;">
    <li style="margin-right: 15px;">
        <a href="/">Home</a>
    </li>
    <li style="margin-right: 15px;">
        <a href="/registro">Registro</a>
    </li>
    <li style="margin-right: 15px;">
        <a href="/login">Login</a>
    </li>
    <li style="margin-right: 15px;">
        <a href="/perfil">Perfil</a>
    </li>
    <li>
        <a href="/api/sessions/logout">Logout</a>
    </li>
</ul>
